section.filters {
	background-color: inherit;
	height: 70px;
	width: 100%;
	border: 1px solid #dddddd;
	border-radius: 4px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
section.filters button {
	background-color: rgb(255, 90, 95);
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	margin-right: 30px;
}
section.filters button:hover {
	opacity: 90%;
	cursor: pointer;
}
